.Reports {
  display: grid;
  width: 100%;
  height: 100%;
  padding-top: 80px;
  padding-left: 50px;
  grid-template-rows: 80px 420px 1fr;
  grid-template-areas:
    'a a b b'
    'c c c c'
    'f f f f';
}

.TopGrid {
  grid-area: a;
  flex-direction: row;
  justify-content: flex-start;
  display: flex;
}

.MiddleGrid {
  grid-area: c;
  flex-direction: row;
  justify-content: flex-start;
  display: flex;
}

.BottomGrid {
  grid-area: f;
  flex-direction: row;
  justify-content: flex-start;
  display: flex;
  padding-top: 30px;
}

.Select {
  width: 300px;
}

.DatePicker {
  width: 300px;
}
