.Reports {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 16px;
}

.TopGrid {
  grid-area: a;
  flex-direction: row;
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  gap: 16px;
}

.MiddleGrid {
  grid-area: c;
  flex-direction: row;
  display: flex;
  flex: 1;
  gap: 16px;
  flex-wrap: wrap;
}

.BottomGrid {
  grid-area: f;
  flex: 1;
  gap: 16px;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1532px) {
  .BottomGrid {
    width: 100%;
  }
}

.DatePicker, .Select {
  flex: 1;
}

.PizzaPlotCard {
  width: calc(30% - 20px);
}
