.Menu {
  position: relative;
  display: grid;
  grid-template-rows: 241px 1fr;
  grid-template-areas:
    'Header'
    'Buttons';
  justify-content: center;
  grid-area: Menu;
  width: 288px;
  height: 100%;
  left: 0px;
  top: 0px;
  padding: 15px;
  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;

  .Header > h1 {
    width: 100%;
  }

  .Header > div {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 32px;
    box-sizing: border-box;
    justify-content: center;
  }
}

.Buttons {
  grid-area: Buttons;
  padding: 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  flex-direction: column;
}

.Button {
  width: 80%;
  height: 40px;
  margin: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  padding: 0px 5px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  letter-spacing: 0.1px;
  color: #6750a4;
  background: #ffffff;
  border-radius: 100px;
}

.Button p {
  width: 80%;
}

.Button#button_selected {
  background: rgba(103, 80, 164, 0.12);
}
