.Menu {
  position: relative;
  display: grid;
  grid-template-rows: 241px 1fr;
  grid-template-areas:
    'Header'
    'Buttons';
  justify-content: center;
  grid-area: Menu;
  width: 288px;
  height: 100%;
  left: 0px;
  top: 0px;
  padding: 15px;
  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;

  .Header > h1 {
    width: 100%;
  }

  .Header > div {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 32px;
    box-sizing: border-box;
    justify-content: center;
  }
}

.Buttons {
  grid-area: Buttons;
  padding: 32px;
  box-sizing: border-box;
}
