.Menu {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 288px;
  height: 100%;
  padding: 44px;
  padding-top: 80px;
  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}

.Button {
  width: 200px;
  height: 40px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  padding: 0px 20px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
  letter-spacing: 0.1px;
  color: #6750a4;
  background: #ffffff;
  border-radius: 100px;
  cursor: pointer;
}

.Button p {
  width: 80%;
  margin-left: 15px;
}

.Button div {
  width: 20px;
  height: 40px;
  align-items: center;
  display: flex;
}

.Button#button_selected {
  background: rgba(103, 80, 164, 0.12);
}
